.body {
    background-image: url(/src/images/piscina-background-sobre.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;      
};

.card {
    padding: 90px;
}

.text {
    font-size: 18px;
    font-weight: 600;
   color: black;
}