.body {
    background-image: url(/src/images/piscina-background-servicos.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; 
};

.infos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.infosItem {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    margin-right: 80px;
 
}