.body {
    background-image: url(/src/images/piscina-background-home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;      
};

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.iconsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}