.body {
    background-image: url(/src/images/piscina-background-home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;      
};

.container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.iconsList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 5px;
}

.lvj_market{
    font-size: 15px;
    
    
}

.lvj_prof {
    font-size: 15px;
    
}

.lvj_diving {
    font-size: 25px;
    
   
}

.lvj_services {
    font-size: 15px;
   
    
}