.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
    background: rgb(15,171,203);
    background: linear-gradient(0deg, rgba(15,171,203,1) 0%, rgba(8,16,162,1) 100%);
    color: aliceblue;
    list-style: none;
    height: 10%;
}

.brand {
    font-size: 1.2em;
    color: aliceblue;
    font-size: 30px;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 28px;
}

.links_list {
    display: flex;
    list-style: none;
    color: aliceblue;
    -webkit-text-stroke-width: 1px black;
}

.links_list li {
    margin-right: 1em;
    list-style: none;
    color: aliceblue;
    -webkit-text-stroke-width: 1px black;
    font-size: 25px;
    font-weight: 600;
    transition: .4s;
}

.links_list li:hover {
    opacity: 80%;
}

.links_list li a {
    padding: .4em .6em;
    list-style: none;
    color: aliceblue; 
}
