.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  background: rgb(15,171,203);
  background: linear-gradient(0deg, rgba(15,171,203,1) 0%, rgba(8,16,162,1) 100%);
  color: aliceblue;
  margin-top: auto;
  height: 10%;
  position: relative;
}

.social_icon
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}

.social_icon__item
 {
  list-style: none;
}

.social_icon__link {
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  transition: 0.5s;
}

.social_icon__link:hover {
  transform: translateY(-10px);
}

.footer p {
  color: #fff;
  margin: 5px 0 5px 0;
  font-size: 1rem;
  font-weight: 300;
}
