.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-image:  url(/src/images/textura-piscina.jpg);
    background-size: 40%;
    color: aliceblue;
    font-size: 20px;
    margin-top: auto;
    height: 8%;
}

.icons {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    transition: 0.5s;
    justify-content: space-evenly;
}

.icons:hover {
    opacity: 70%;
}